@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* color variables */
:root {
  --top: #222831;
  --bg: #d5eebb;
  --bg2: #78dec7;
  --text-1: #5f7a61;
  --text: #000000;
  --text2: #ffffff;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url(../images/network-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
/* common styles */
.heading1 {
  color: var(--text-1);
}
.heading2 {
  color: var(--top);
}

/* topbar styles */
.logo {
  height: 45px;
}
.pacific-nav {
  background-color: var(--top);
}
.top-btn a {
  text-decoration: none;
  color: var(--text2);
  /* background-color: var(--bg); */
  /* border-radius: 25px; */
  border-radius: 20px;
  background: linear-gradient(225deg, #242b34, #1f242c);
  box-shadow: -5px 5px 10px #14171c, 5px -5px 10px #303946;
}
.top-btn a:hover {
  border-radius: 20px;
  background: #222831;
  box-shadow: inset -5px 5px 10px #14171c, inset 5px -5px 10px #303946;
}
.price-btn {
  background-color: var(--bg2);
}
.contact-txtarea {
  height: 188px;
}
