@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* color variables */
:root {
  --top: #222831;
  --bg: #d5eebb;
  --bg2: #78dec7;
  --bg3: #5f7a61;
  --text: #000000;
  --text2: #ffffff;
}
body {
  font-family: "Poppins", sans-serif;
}
/* topbar styles */
.logo {
  height: 45px;
}
.pacific-nav {
  background-color: var(--top);
}
.top-btn a {
  text-decoration: none;
  color: var(--text2);
  /* background-color: var(--bg); */
  /* border-radius: 25px; */
  border-radius: 20px;
  background: linear-gradient(225deg, #242b34, #1f242c);
  box-shadow: -5px 5px 10px #14171c, 5px -5px 10px #303946;
}
.top-btn a:hover {
  border-radius: 20px;
  background: #222831;
  box-shadow: inset -5px 5px 10px #14171c, inset 5px -5px 10px #303946;
}

/* sign in styles */
.sign-img {
  height: 200px;
}
.sign-in {
  background-image: url(../images/network-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
}
.text-color {
  color: var(--bg3);
}
.sign-shadow {
  box-shadow: 0px 0px 20px var(--text);
}
