@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* color variables */
:root {
  --top: #222831;
  --bg: #d5eebb;
  --bg2: #78dec7;
  --bg3: #5f7a61;
  --text: #000000;
  --text2: #ffffff;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(174, 238, 200);
  background: linear-gradient(
    90deg,
    rgba(174, 238, 200, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
/* topbar styles */
.logo {
  height: 45px;
}
.pacific-nav {
  background-color: var(--top);
}
.top-btn a {
  text-decoration: none;
  color: var(--text2);
  border-radius: 20px;
  background: linear-gradient(225deg, #242b34, #1f242c);
  box-shadow: -5px 5px 10px #14171c, 5px -5px 10px #303946;
}
.top-btn a:hover {
  border-radius: 20px;
  background: #222831;
  box-shadow: inset -5px 5px 10px #14171c, inset 5px -5px 10px #303946;
}

/* sign in styles */
.form-tab-btn {
  border: none;
  padding: 7px;
  border-radius: 5px 0 5px 0;
}
.form-tab-btn-hover {
  width: 100px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
}
.active {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}
.form-tab-btn-hover:focus {
  outline: none;
}
.form-tab-btn,
.form-tab-btn-hover {
  background-image: linear-gradient(to right, var(--text), var(--bg2));
}
.sign-in {
  background-image: url(../images/network-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
}
.text-color {
  color: var(--bg3);
}
.sign-shadow {
  height: 550px;
  border-top: 0;
  background-color: transparent;
}
.mainDiv {
  height: 100vh;
  width: 100%;
  position: relative;
}
.form-bg {
  position: absolute;
  width: 75%;
  height: 460px;
  top: 100px;
  right: 12.5%;
  box-shadow: 0px 0px 5px var(--text);
  background-image: url(../images/network-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-form {
  position: absolute;
  width: 425px;
  height: 591px;
  right: 17%;
  top: 30px;
  background: rgb(190, 255, 207);
  background: radial-gradient(
    circle,
    rgba(190, 255, 207, 1) 30%,
    rgba(158, 255, 239, 1) 65%
  );
}

/* small device media */
@media (max-width: 576px) {
  .main-form {
    left: 5%;
    width: 90%;
    height: auto;
  }
  .sign-shadow {
    height: auto;
  }
} ;
