@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* color variables */
:root {
  --top: #222831;
  --bg: #d5eebb;
  --bg2: #78dec7;
  --bg3: #5f7a61;
  --text: #000000;
  --text2: #ffffff;
}
body {
  font-family: "Poppins", sans-serif;
}

/* common styles */
.heading1 {
  color: var(--bg3);
}
.heading2 {
  color: var(--top);
}

/* topbar styles */
.logo {
  height: 45px;
}
.pacific-nav {
  background-color: var(--top);
}
.top-btn a {
  text-decoration: none;
  color: var(--text2);
  /* background-color: var(--bg); */
  /* border-radius: 25px; */
  border-radius: 20px;
  background: linear-gradient(225deg, #242b34, #1f242c);
  box-shadow: -5px 5px 10px #14171c, 5px -5px 10px #303946;
}
.top-btn a:hover {
  border-radius: 20px;
  background: #222831;
  box-shadow: inset -5px 5px 10px #14171c, inset 5px -5px 10px #303946;
}
.price-btn {
  background-color: var(--bg2);
}

/* banner styles */
.banner {
  background-color: var(--bg2);
}
.banner-btn button {
  background-color: var(--bg);
  border-radius: 25px;
  box-shadow: 5px 5px 5px var(--top);
  transition: all 0.4s ease-in-out;
}
.banner-btn button:hover {
  box-shadow: 0px 0px 20px var(--top);
}
.banner-btn button:last-child {
  background-color: var(--bg3);
}
.banner-btn button > a {
  color: var(--text);
  text-decoration: none;
}
.banner-btn button:last-child > a {
  color: var(--text2);
}

/* long banner style */
.long-banner img {
  border-radius: 70px 0;
}

/* why choose us section style */
.icon-style {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  background-color: var(--bg3);
}
.icon-style i {
  color: var(--bg);
  font-size: 25px;
}

/* experience section styles */
.mobile-screen {
  border-radius: 25px;
}

/* network section styles */
.network {
  background-image: url(../images/network-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 100px;
}
.net-text h1,
.net-color {
  color: var(--bg);
}
.net-text h3,
.net-aus {
  color: var(--text2);
}

/* partner section styles */
.partner-card {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.partner-card:hover {
  box-shadow: 0px 0px 25px var(--top);
}

/* category styles */
.category-img {
  border: 2px solid var(--text);
  border-radius: 50%;
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
.category-img:hover {
  animation: rotate 5s normal linear infinite;
}

/* price check section style */
.delivery {
  background-image: url(../images/form-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cost-form {
  background-color: var(--bg3);
  border-radius: 5px;
}
.price-btn {
  width: 100%;
  border: 2px solid var(--bg3);
  border-radius: 25px;
  color: var(--text);
  transition: all 0.4s ease-out;
}
.price-btn:hover {
  background-color: var(--text2);
  border: 2px solid var(--text);
}
.cost-input,
.cost-output {
  width: 100%;
  border: none;
  border-radius: 25px;
}
.cost-input:focus,
.cost-output:focus {
  outline: none;
}
.cost-input::placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: var(--bg3);
}
.cost-output::placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: var(--bg3);
}

/* footer styles */
footer {
  background-color: var(--top);
}
.footer-link li a {
  text-decoration: none;
  color: var(--bg2);
  transition: all 0.4s ease-in;
}
.footer-link li a:hover {
  text-decoration: none;
  color: var(--text2);
}
