@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* color variables */
:root {
  --top: #222831;
  --bg: #d5eebb;
  --bg2: #78dec7;
  --text-1: #5f7a61;
  --text: #000000;
  --text2: #ffffff;
}
body {
  font-family: "Poppins", sans-serif;
}

/* common styles */
.heading1 {
  color: var(--text-1);
}
.heading2 {
  color: var(--top);
}

/* topbar styles */
.logo {
  height: 45px;
}
.pacific-nav {
  background-color: var(--top);
}
.top-btn a {
  text-decoration: none;
  color: var(--text);
  background-color: var(--bg2);
  border-radius: 25px;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}
.top-btn a:last-child {
  text-decoration: none;
  color: var(--text);
  background-color: var(--bg);
  border-radius: 25px;
  border-radius: 20px;
}
.top-btn a:hover {
  background-color: var(--text2);
}
.price-btn {
  background-color: var(--bg2);
}

/* banner styles */
.banner {
  background-color: var(--bg2);
  margin-top: 70px;
}
.banner-btn button {
  background-color: var(--bg);
  border-radius: 25px;
  box-shadow: 5px 5px 5px var(--top);
  transition: all 0.3s ease-in-out;
}
.banner-btn button:hover {
  box-shadow: 0px 0px 5px var(--top);
}
.banner-btn button:last-child {
  background-color: var(--text-1);
}
.banner-btn button > a {
  color: var(--text);
  text-decoration: none;
}
.banner-btn button:last-child > a {
  color: var(--text2);
}

/* long banner style */
.long-banner img {
  border-radius: 70px 0;
}

/* why choose us section style */
.icon-style {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  background-color: var(--text-1);
}
.icon-style i {
  color: var(--bg);
  font-size: 25px;
}

/* experience section styles */
.mobile-screen {
  border-radius: 25px;
}

/* network section styles */
.network {
  background-image: url(../images/network-bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 100px;
}
.net-text h1,
.net-color {
  color: var(--bg);
}
.net-text h3,
.net-aus {
  color: var(--text2);
}

/* partner section styles */
.partner-card {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.partner-card:hover {
  box-shadow: 0px 0px 5px var(--top);
}

/* category styles */
.category-img-main {
  /* border: 2px solid var(--text); */
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
/* @keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
} */
.category-img-main:hover {
  /* animation: rotate 5s normal linear infinite; */
  transform: scale(1.1);
}

/* price check section style */
.delivery {
  background-image: url(../images/form-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cost-form {
  background-color: var(--text-1);
  border-radius: 5px;
}
.price-btn {
  width: 100%;
  border: 2px solid var(--text-1);
  border-radius: 25px;
  color: var(--text);
  transition: all 0.3s ease-out;
}
.price-btn:hover {
  background-color: var(--text2);
  border: 2px solid var(--text);
}
.cost-input,
.cost-output {
  width: 100%;
  border: none;
  border-radius: 25px;
}
.cost-input:focus,
.cost-output:focus {
  outline: none;
}
.cost-input::placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: var(--text-1);
}
.cost-output::placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: var(--text-1);
}

/* footer styles */
footer {
  background-color: var(--top);
}
.footer-link li a,
.address {
  text-decoration: none;
  color: var(--bg2);
  transition: all 0.3s ease-in;
}
.footer-link li a:hover {
  text-decoration: none;
  color: var(--text2);
}
.phone-email {
  cursor: pointer;
  color: var(--text2);
}
